*.*
*
*.bin
!*/
!Makefile
!*.mk
!*.[cSh]
!*.v
!*.sv
!*.cc
!*.sh
!xv6-kernel.*
!*.py

!.gitignore
!README.md
Kconfig
.vscode
build
include/config
include/generated
.cache
*.json
!nemu
!simulator/diff
!riscv32-nemu-so
!riscv32-spike-so
!riscv64-spike-so
!simulator/bin
!.gitkeep